
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Permanent Address</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Blood Group</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Niaz Rahman Bhuiyan</td>
            <td>Mizanur Rahman Bhuiyan</td>
            <td>Laila Noor Mozumder</td>
            <td>Bloc-G, Afroza Begum Road, Plot#336, Bashundhara R/A, Dhaka-1229</td>
            <td>22nd January 1998</td>
            <td>Male</td>
            <td>Banglaadeshi</td>
            <td>A(+)ve</td>
        </tr>    
    </tbody>
    
</table>

