
@{
    ViewBag.Title = "Education";
}

<h1>Education</h1>
<p>
    <h1 style="color:deepskyblue">O'LEVEL, 2016</h1>
    <p style="font-family:Tahoma">Cambridge Assessment International Education, UK <br>

    Result score:
    Additional Mathematics- B; Mathematics- A; English Language- D; Bengali- B; Chemistry- B; Physics- B and Biology- C</p>

</p>
<p>
    <h1 style="color:deepskyblue">A'LEVEL, 2018</h1>
<p style="font-family:Tahoma">Cambridge Assessment International Education, UK <br>

    Result score:
    Mathematics- C; and Chemistry- C</p>

</p>
<p>
    <h1 style="color:deepskyblue">BACHELOR OF COMPUTER SCEINCE & ENGINEERING, continuing</h1>
    <p style="font-family:Tahoma">American International University- Bangladesh (AIUB) <br>

    Currently enrolled in 10th Semester</p>

</p>

