
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<p>
    <h1 style="color:deepskyblue">Restaurant Management System (7th semester, Java)</h1>
<p style="font-family:Tahoma">The project was done for a single restaurant which consisted facility of ordering foods, admin login and logout, and many more.</p>
</p>
<p>
    <h1 style="color:deepskyblue">Restaurant Management System (8th semester, C Sharp)</h1>
<p style="font-family:Tahoma">The project was done for a single restaurant which consisted facility of ordering foods, admin login and logout, and many more.</p>
</p>
<p>
    <h1 style="color:deepskyblue">Real Estate Website (9th semester, Web Technology)</h1>
    <p style="font-family:Tahoma">The project was Customer, Admin, landwoner can post advertisements, can login-logout, doing CRUD operation, search, and also dashboard facility.</p>
</p>

