
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="/Home/Login" method="post">
    Username: <input type="text" class="form-control" name="Username" value="" />
    Password: <input type="password" class="form-control" name="Password" value="" />
              <br><input type="submit" class="btn btn-success" name="Login" value="login" />
</form>

